body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  header{
    text-align:left; 
    background-color:#cf87df;
 
  }
h1{
  color: #000000;
}
h2{ 
  text-shadow: #000000;
  text-align: center;
  color: rgb(20, 20, 25);
}

  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  header{
    text-align:left; 
    background-color:#cf87df;
 
  }
h1{
  color: #000000;
}
h2{ 
  text-shadow: #000000;
  text-align: center;
  color: rgb(20, 20, 25);
}

  
  /* Style the navigation bar */
  .navbar {
    width: 100%;
    /* background-color:#cf87df; */
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #d7b8cc;
  }
  .bg-primary-color {
    background-color:#cf87df;
  }
  .navbar-brand:hover {
    background-color: transparent !important;
  }
  /* Current/active navbar link */
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
