* {
  box-sizing: border-box;
  font-family: Open Sans,sans-serif;
  margin: 0;
  padding: 0;}
 /* Make the image fully responsive */
 .carousel-inner img {
    width: 100%;
    height: 100%;}
    .carousel-inner img:hover { background-color: aqua; 
  }  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  header{
    text-align:left; 
    background-color:#cf87df;
 
  }
h1{
  color: #000000;
}
h2{ 
  text-shadow: #000000;
  text-align: center;
  color: rgb(20, 20, 25);
}


footer{
    color:#000000;
  }
  
  /* Style the navigation bar */
  .navbar {
    width: 100%;
    /* background-color:#cf87df; */
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #d7b8cc;
  }
  .bg-primary-color {
    background-color:#cf87df;
  }
  .navbar-brand:hover {
    background-color: transparent !important;
  }
  /* Current/active navbar link */
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
.copy{ 
  background-color: #000000;
  color: #e1d5d5;
  text-align: center;
}
.ADVANCED{
  color: #000000;
  text-align: center;
 text-shadow: #2d2a2a;
}
.med{
  text-align: center;
}
.red {
  color: brown;
}

.card:hover{
  background-color: #9de1d0;
  border-radius: 50px !important;
}


img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

img:hover {
  border-radius: 50px !important;
}
.myImg {
  height: 250px !important;
}

.card-title {
  font-weight: bold;
text-align: start;
}

.card-body{
 margin: 4%; 
 padding: 5.25rem!important;
}

h4{ 
  font-size:x-large !important ;
  margin: -67px !important;
  font-weight:bold!important ;

}
.container-fluid {
  position: relative;
  text-align: center !important;
  color: rgb(0, 0, 0) !important;
}
 

/*   
.srccontainer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}

.srccontainer h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(40,end) forwards;
}

.srccontainer h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 100px;  
  width: 430px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
  
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

/* 
.title {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #171613;
  width: 0;
  overflow: hidden;
  white-space: no-wrap;
  display:block;
  border-right: 3px solid #f9d566;
  animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
  animation-fill-mode: forwards
}

@keyframes typewriter {
  0% { width:0 }
  25% { width: 70% }
  48% { width: 100% }
  50% { width: 100% }
  55% { width: 100% }
  75% { width: 70%; }
  85% { width: 30%; }
  100% { width: 0; }
}

@keyframes blinking-cursor {
  from { border-color: transparent }
  to { border-color: #d6d6d6 }
} */