* {
  box-sizing: border-box;
  font-family: Open Sans,sans-serif;
  margin: 0;
  padding: 0;}
 /* Make the image fully responsive */
 .carousel-inner img {
    width: 100%;
    height: 100%;}
    .carousel-inner img:hover { background-color: aqua; 
  }  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  header{
    text-align:left; 
    background-color:#cf87df;
 
  }
h1{
  color: #000000;
}
h2{ 
  text-shadow: #000000;
  text-align: center;
  color: rgb(20, 20, 25);
}


footer{
    color:#000000;
  }
  
  /* Style the navigation bar */
  .navbar {
    width: 100%;
    /* background-color:#cf87df; */
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #d7b8cc;
  }
  .bg-primary-color {
    background-color:#cf87df;
  }
  .navbar-brand:hover {
    background-color: transparent !important;
  }
  /* Current/active navbar link */
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
.copy{ 
  background-color: #000000;
  color: #e1d5d5;
  text-align: center;
}
.ADVANCED{
  color: #000000;
  text-align: center;
 text-shadow: #2d2a2a;
}
.med{
  text-align: center;
}
.red {
  color: brown;
}

.card:hover{
  background-color: #9de1d0;
  border-radius: 50px !important;
}


img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

img:hover {
  border-radius: 50px !important;
}
.myImg {
  height: 250px !important;
}

.card-title {
  font-weight: bold;
text-align: start;
}

.card-body{
 margin: 4%; 
 padding: 5.25rem!important;
}

